header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.info-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 30%;
}

.email-info , .expense-info {
  padding: 10px;
}

.expense-info {
  display: flex;
}

.expense-text , .expense-quantity {
  padding-right: 10px;
}
