.login-page {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
.login-form {
  border: 1px solid red;
}
*/
