.login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 96vh;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*
.login-form {
  border: 1px solid red;
}
*/
