table {
  margin-top: 20px;
  width: 100%;
}

th {
  border-bottom: 2px solid #e44b59;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

td {
  text-align: center;
  padding: 15px 0px;

}
