.wallet-header {
  background-color: rgb(97, 25, 25);
  display: flex;
  justify-content: space-between;
}

.info-section {
  align-items: center;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  min-width: 20%;
}

.email-info, .cost-info {
  padding: 10px;
}
