.wallet-form {
  align-items: center;
  background-color: rgb(119, 80, 51);
  display: flex;
  justify-content: space-around;
}

.wallet-form-input-div {
  align-items: center;
  display: flex;
}

.expense-register-input, .expense-value-register-input {
  height: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.expense-value-register-input {
  width: 70px;
}

.expense-register-select {
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
